/*
 Theme Name:   Scaffold Child
 Description:  Scaffold Child Theme For Dani Williams 
 Author:       Dylan Williams
 Template:     scaffold
 Version:      2.0.1
*/

/* Variables */

:root{

    /* colors */
    --sepia-1: #fffcf5;
    --sepia-2: #f8f3ea;
    --sepia-3: #ded6c9;
    --sepia-4: #bfb09f;
    --sepia-5: #a28b77;
    --sepia-6: #876753;
    --sepia-7: #6b4533;
    --dark-brown: hsl(19, 35%, 31%);

}

/* Global shizz */

body {
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--sepia-7);
    background: var(--sepia-1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    color: var(--sepia-7);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 3rem;
}

h1 {
font-size: 2.3em
}

h2 {
font-size: 2em
}

h3 {
font-size: 1.6em
}

h4 {
font-size: 1.2em;
}

a {
    color: var(--sepia-7);
    transition: all ease-in-out 200ms;
    text-decoration-skip: ink;
}

a:hover {
    background: var(--sepia-3);
    color: var(--sepia-7);

}

.back-link {
    margin-bottom: 1.6rem;
}

.back-link, .back-link a {
    font-size: .8rem;
    color: var(--sepia-5);
}

.page-template-landing-page .content-area {
    width: 100%;
    float: left;
}

.size-tall-thumbnail {
    border: 1px solid var(--sepia-3);
}

.wp-block-gallery img, .wp-block-image img, .wp-block-media-text img {
    box-shadow: 0 2px 3px 0 var(--sepia-3);
}

.wp-block-image img, .wp-block-media-text img {
    margin-bottom: 2rem;
}

.wp-block-gallery img {
    margin-bottom: 0;
}

/* Grid Shizz*/

.entry-content {
    clear: both;
}

.entry-content > P {
    /* max-width: 90ch;
    margin: 0 auto 2rem auto; */
    margin-bottom: 2rem;
    padding: 0 6vw;
}

.navbox-wrapper {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr ) );
  grid-gap: 36px;
  color: var(--sepia-7); 
  margin-top: 2em;
  margin-bottom: 2em;
}

.navbox {
  border-radius: 3px;
  min-height: 300px;
  display: flex;
}


.navbox a {
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 200ms;
    display: flex;
    /*height: 100%;*/
    width: 100%;
}

.navbox h3 {
    font-size: 1rem;
    color: var(--sepia-7);
}

.navbox a .copy{
    margin: 0;
    padding: 6px;
    color: var(--sepia-7);
    background: hsl(60 10% 96% / .9);
    transition: all ease-out 150ms;
    align-self: flex-end;
    width: 100%;
}

.navbox a:hover {
    background: transparent;
}

.navbox a:hover .copy{
    background: hsl(60 10% 96% / 1);
}

.navbox a h3, .navbox a p {
    margin: 0;
    letter-spacing: 1px;
}

.navbox a p {
   font-size: .85em;
   color: var(--sepia-6);
}

.shop-block {
    background: var(--sepia-5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 2px 3px var(--sepia-3);
}

/* Header */

.site-header {
    padding: 24px 0;
}

.site-branding {
    position: relative;
}

.custom-logo {
    max-width: 300px;
}

.logo img {
    width: 350px;
    width: clamp(252px, 40%, 350px);
}

.logo a:hover {
    background-color: transparent;
}


.site-content {
    min-height: 69vh;
}

/* Main nav */

nav {
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    font-size: 1em;
}

.dani .menu-1 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    background-color: var(--sepia-1);
}

.dani .menu-1 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.dani .menu-1 ul li {
    transition: box-shadow 150ms ease-in-out;
}

.menu-1 a {
  color: var(--sepia-7);    
  padding: 3px 6px;

}

.menu-1 a:hover {
  background-color: transparent;

}

.dani .menu-1 li:hover, .menu-1 li.focus, .current_page_item {
    background: transparent!important;
    box-shadow: 0 2px 3px var(--sepia-3);

}

.dani .menu-1 .current_page_item {
    background: transparent!important;
}

.menu-1 a:hover .soc-icon {
    fill: white;
}

.dani .menu-1 ul ul {
    box-shadow: 0 2px 3px var(--sepia-3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .33rem;
    background-color: var(--sepia-1);
    padding: 12px;
    border-radius: 3px;
    font-size: .95rem;
}

.dani .menu-1 ul ul li {
    background-color: transparent;
}

.dani .menu-1 ul ul .current_page_item {
    background: var(--sepia-2)!important;
    box-shadow: none;
}

.dani .menu-1 ul ul li a {
    white-space: nowrap;
}

.dani .menu-1 ul ul li:hover {
    background-color: var(--sepia-2)!important;
    box-shadow: none;
}

.dani .nav-menu li {
    float: left;
    width: auto
}

.nav-menu li a {
    border-top: 0;
}

.toggled .menu-toggle, .menu-toggle, .menu-1.toggled #site-menu {
    color: var(--sepia-7);
    background-color: var(--sepia-2);
}


.menu--sub {
    font-style: italic;
    font-size: .8em;
    display: block;
}

.header-decor {
    position: absolute;
    bottom: -27px;
    right: 2%;
    width: 36px;
    fill: var(--sepia-5);
}

.slider {
    clear: both;
    margin-bottom: 1.4em;
}

/* Footer */

.site-footer {
    background-color: var(--sepia-2);
    border-top: 1px solid var(--sepia-3);
    padding: 18px 12px;
    font-size: 14px;
}    


.site-footer .wrapper {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.site-info--left {
    padding-left: 1em;
    width: 50%;
}
.site-info--right {
    padding-right: 1em;
    width: 50%;
}

.site-footer .site-info--right {
    text-align: right;
}


.site-footer .site-info a {
    text-decoration: none; 
}

/* Lightbox */


#slb_viewer_wrap .slb_theme_slb_default .slb_data_title, #slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
    font-family: 'Assistant', Arial, Helvetica, sans-serif!important;
    font-size: 1.1em!important;
    margin-top: 6px;
}

#slb_viewer_wrap .slb_theme_slb_baseline .slb_data_content {
    margin-top: 6px;
}
/* Utility classes */

.hidden {
    display: none;
    visibility: hidden;
}

.cursor--auto {
    cursor: auto;
}

.img--circle {
    border-radius: 50%;
    shape-outside: circle(50%);
}

.push--top {
    margin-top: 1em;
}

.push--bottom {
    margin-bottom: 1em;
}

.push--left {
    margin-left: 1em;
}

.push--right {
    margin-right: 1em;
}

.body-text {
    font-family: 'Assistant', Arial, Helvetica, sans-serif;
}

.text--center {
    text-align: center;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@media screen and (max-width: 600px) { 

.social-nav {    
    display: flex;
    justify-content: center;
}

.menu-1 a {
    border-top: 1px solid var(--sepia-3);
}

.dani .menu-1 ul, .dani .menu-1 ul ul {
    background: var(--sepia-1);
    box-shadow: none;
}

.dani .nav-menu li {
    float: none;
    width: auto;
    background: var(--sepia-1);
    box-shadow: none;
}

.dani .nav-menu li:hover {
    background: var(--sepia-1);
    box-shadow: none;
}

.dani .menu-1 ul li > ul, .dani .menu-1 ul li.focus > ul {
  display: block;
}

}

@media screen and (max-width: 480px) { 

  .custom-logo {
    max-width: 180px;
}  
   .dani .site-header {
        min-height: 135px;
    }

    .header-decor {
    width: 24px;
    }
}

.page .edit-link {
	float: right;
}

/* Animations */

.bounce:hover {
	animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/* Mini layouts */

.body--centered {
    margin: 0 auto;
}
.content--centered {
    display: flex;
    justify-content: center;
    align-content: center;  
}

.max-w--48 {
    max-width: 48em;
}

/* Buttons */

.btn {
    padding: .5em 1em;
    font-weight: bold;
     background: linear-gradient(to bottom, #9AAB89, #BFC8B7);
     color: white;
     text-shadow: #ccc;
     text-decoration: none;
     transition: all 300ms ease-in-out;
     border-radius: 4px;
}

.btn:hover {
    background: linear-gradient(to bottom, #BFC8B7, #9AAB89);
    border-radius: 1px;
}

.home a.rgg-img {
    cursor: default;
    box-shadow;
}

.home a.rgg-in {
    box-shadow:none!important;
}

/* Social Icons */

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

@media screen and (min-width: 768px) {

    .social-icons {
    justify-content: flex-end;

}
}

@media screen and (min-width: 1074px) {

    .social-icons {
    padding-right: 0;

}
}


.social-icons ul {
    list-style: none;
	display: flex;
	flex-direction: row;
    justify-content: center;
	gap: .66rem;
    margin-top: -1px;
    font-size: 11px;
    padding-left: 0;
    margin-bottom: 0;
}

.social-icons ul li {
    background: var(--sepia-1);
    color: var(--sepia-7);
    text-align: center;
    border-radius: 0 0 4px 4px;
    display: flex;  
    flex-direction: column;
   align-items: center;
   font-family: 'Roboto Mono', monospace;
   transition: background 150ms ease-in-out;
   box-shadow: 0 2px 3px var(--sepia-3)
}

.social-icons ul li a {
    padding:  6px 6px 1px 6px;
}

.social-icons ul li a:hover {
    background: transparent;
}

.social-icons ul li:hover {
    background: var(--sepia-2);
}

.soc-icon {
    width: 18px;
    height: 18px;
    max-width: 18px;
    max-height: 18px;
    fill: var(--sepia-5);
}


@media screen and (min-width: 768px) {

.soc-icon {
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
}
}

/*  Metaslider */

.dani .metaslider {
    clear: both;
}
.dani .metaslider.ms-theme-simply-dark .flexslider ul.slides .caption-wrap .caption {
    color: var(--sepia-7);
}

.dani .metaslider.ms-theme-simply-dark .flexslider ul.slides .caption-wrap {
    background: rgba(255,255,255,0.7);
}

/* Custom drop cap sizing */

.dani .has-drop-cap:not(:focus)::first-letter {

    font-size: 4.5em;
    margin: 0 .04em 0 0;
}